.calculador__wrap{
  height: 200px;
  width: fit-content;
  height: fit-content;
  /* padding: 10px; */
  margin: auto;
  background-color: grey;
  h2{
    color: white;
    text-align: center;
  }
}
.pantalla{
  background-color: lemonchiffon;
  height: 30px;
  margin-bottom: 10px;
}
.calculadora input[type="button"]{
  width: 40px;
  height: 30px;
}
.calculadora{
  padding: 10px;
}